* {
    font-family: JetBrainsMono Nerd Font, FontAwesome;
    font-size: 13px;
    font-weight: bold;
}

window {
    background-color: transparent;
}

#outer-box {
    margin: 8px 10px;
    border-radius: 3px;
}

#inner-box {
    background: rgba(0, 0, 0, 0.9); 
    border: 1px solid rgba(68, 68, 68, 0.67); 
    border-radius: 3px;
    padding: 6px 10px;
}

button {
    background: transparent;
    color: #ffffff;
    border: none;
    box-shadow: none;
    padding: 2px 12px;
    margin: 4px 4px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #ffffff;
}

button:checked,
button.active {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

image {
    margin: 0 4px;
}