* {
    font-family: JetBrainsMono Nerd Font Propo, sans-serif;
    font-size: 13px;
    border: none;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.9); 
    border: 1px solid rgba(68, 68, 68, 0.3); 
    border-radius: 6px;
    padding: 6px 0; 
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.modules-left { padding-left: 6px; }
.modules-right { padding-right: 6px; }

#clock,
#battery,
#network,
#pulseaudio,
#backlight {
    padding: 1px 10px;
    margin: 4px 0;
    color: #ffffff;
}

#workspaces {
    background: transparent;
    margin: 0 6px;
}

#workspaces button {
    padding: 1px 6px;
    margin: 4px 2px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

#workspaces button.active,
#workspaces button.focused {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
    padding: 1px 10px;
    border-radius: 4px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

button:hover {
    background: rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

#battery.charging {
    color: #ffffff;
    font-weight: bold;
}

#battery.critical,
#network.disconnected,
#pulseaudio.muted {
    background: #ffffff;
    color: #000000;
    border-radius: 4px;
    font-weight: bold;
}

#clock {
    font-weight: bold;
    color: #ffffff;
}

#tray {
    padding: 1px 3px;
    margin: 4px 0;
}

#custom-menu {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
    margin: 4px 6px;   
    padding: 1px 20px; 
}

#custom-menu:hover {
    background: rgb(255, 255, 255);
}

tooltip {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(68, 68, 68, 0.67);
    border-radius: 6px;
}

tooltip label {
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 13px;
    color: #ffffff;
    padding: 6px 10px;
}